.nav-link{
  color:  rgb(235, 188, 128);
}

.nav-link:active{
    color:  rgb(240, 213, 178);
  }
.btn-outline-primary {

    color:  rgb(235, 188, 128);
    border-color:  rgb(235, 188, 128);
}
.btn-outline-primary{
    border-color:  rgb(235, 188, 128);
    color: white;
}
.fontNav{
  font-size: 25px;
  font-weight: 200;
  font-family: 'Lateef', cursive; 
}