
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div  class="carousel-item active">
        <img src="assets/images/index3.jpg" class="d-block w-100" alt="...">
        <div   class="carousel-caption d-none d-md-block">
          <h5></h5> 
           <p>" لا ادرى لماذا أصبحت الحياة شقية بائسة إلى هذا الحد.. وكانت منذ أربعين عامًا هينة لينة جميلة على الدوام.. هل اجدبت الارض؟ هل جف ماء النهر؟ هل نقصت خيرات الله؟ لابد ان شيئا من هذا قد حدث .. والا فلماذا كل هذا البؤس, وكل هذا الظلم , وكل هذا القتال العنيف في سبيل الحياة.”.</p>
         </div> 
       
      </div>
      <div  *ngFor="let item of services.Quotes" class="carousel-item">
        <img src="assets/images/index2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{item. quotes}}</h5>
        
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>