<div class="text-center">
<h2>نرشح لك</h2>
<br><br>


<div class="text-center container m-3">

      <div class="row d-flex justify-content-center">
            <div *ngFor="let item of services.books" class="card col-md-3 m-3" style="width: 18rem;">
              <div class="flip-card" >
                <div class="flip-card-inner">
                    <img src="http://localhost:4544/uploads/{{item.imagePath}}" class="card-img-top image"  alt="...">
                    <form>
                      <button type="submit" class="list-group-item list-group-item-action list-group-item-primary" routerLink="/getBook" (click)="getbookbyId(item.id)" >{{item.title}}</button>
            <!--  -->
                 </form> 
                    <!-- <div class="card-body">
                    
                      <a href="#" > <h5 class="card-title">{{item.title}}</h5></a>
                    </div> -->
                </div>
              </div>
            </div>




        
      </div>

  
</div>

</div>
